.Main-content{
  margin: auto;
  max-width: 1000px;
}
.Search-nav{
  max-width: 1600px;
  margin: auto;
}
.Search-nav-span{
  font-size: 20px;
  margin: auto;
  max-width: 800px;
  width: 100%;
  display: block;
  margin: auto;
}
.Search-bar{
  border: none;
  border-bottom: 1px solid rgb(204, 204, 204);
  max-width: 800px;
  height: 30px;
  font-size: 20px;
  width: 100%;
  display: block;
  margin: auto;
}
.Search-bar:focus{
  outline: none;
}
.Search-result{
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Search-result-box{
  margin: 10px;
  padding: 10px;
  background-color: #001629;
  color: white;
  border-radius: .5em;
  box-shadow: 1px 1px 1px 1px #011a3011;
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 200px;
  min-width: 150px;
  min-height: 100px;
}
.Bottom-player{
  background-color: #002647;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.Player-bottom-container{
  margin: auto;
  max-width: 800px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Player-buttons-container{
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Player-buttons{
  padding: 10px;
  margin: 10px;
  background-color: #001629;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
  min-height: 50px;
  min-width: 100px;
}
.Playlist-display{
  /* position: absolute; */
  color: white;
  bottom: 0px;
  overflow: scroll;
}